<%- include ('./partials/header') %>
<div class='default-container'>
    <h3>Lojinha do Empreendedor</h3>
    <div class='default-container-button'><a>Login</a></div>
    <div class='default-container-button'><a href='/register'>Registro</a></div>
</div>

<%- include ('./partials/footer') %>