<%- include ('./partials/header') %>

<div class='default-container'>
        <h3>Registro de Item</h3>
        <form class='form-container' method='post' action='/api/v1/user/<%=user.id%>/item'>
            <div class='form-item'>
                <label for='name'>Nome</label>
                <input id='name' type='text' name='name' placeholder='Nome' />        
            </div>
            <div class='form-item'>
                <label for='description'>Descrição</label>
                <input id='description' type='text' name='description' placeholder='Descrição' />        
            </div>
            <div class='form-item'>
                <label for='price'>Preço</label>
                <input id='price' type='text' name='price' placeholder='Preço' />
            </div>
            <button class='default-container-button'>Finalizar Registro</button>
        </form>
    </div>


<%- include ('./partials/footer') %>