<%- include ('./partials/header') %>

    <div class='default-container'>
        <h3>Formulário de Registro</h3>
        <form class='form-container' method='post' action='/api/v1/user'>
            <div class='form-item'>
                <input id='name' type='text' name='name' placeholder='Nome' />
            </div>
            <div class='form-item'>
                <input id='email' type='text' name='email' placeholder='E-mail' />        
            </div>
            <div class='form-item'>
                <input id='cnpj' type='text' name='cnpj' placeholder='CNPJ' />        
            </div>
            <div class='form-item'>
                <input id='password' type='password' name='password' placeholder='Senha' />
            </div>
            <button type='submit' class='default-container-button'>Finalizar Registro</button>
        </form>
    </div>

<%- include ('./partials/footer') %>